* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  z-index: 2;
  position: relative;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1600180758890-6b94519a8ba6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D");
}
header::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}
header .navbar {
  width: 100%;
  background-color: white;
  color: black;
  padding: 20px 10px;
}
header .navbar nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .navbar nav ul {
  display: flex;
  gap: 15px;
}

header .navbar nav ul a {
  color: black;
  letter-spacing: 1.2px;
}
header .navbar nav ul li {
  cursor: pointer;
}
header .navbar nav ul li:hover a {
  text-decoration: underline;
  transition: 0.3s;
}
.burger {
  cursor: pointer;
  display: none;
}
.burger span {
  width: 25px;
  height: 3px;
  background-color: black;
  display: block;
  margin-bottom: 5px;
}
.home {
  height: 90vh;
  display: grid;
  text-align: center;
  place-items: center;
  padding: 10px;
}
.container h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.container .btn {
  margin-top: 30px;
}
.container .btn a {
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.3s;
  color: black;
  background-color: white;
}
.container .btn a:hover {
  color: white;
  background-color: rgb(61, 61, 61);
  transition: 0.3s;
}
.about {
  background-color: #eeeeee6b;
  display: grid;
  place-items: center;
  padding: 30px;
}
.about .container {
  width: 70%;
  border-radius: 20px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 30px;
  background-color: white;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.185);
  gap: 40px;
}
.about .container .skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 50%;
}
.about .container .skills .description {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.about .container .skills .description .info {
  display: flex;
  gap: 10px;
  flex-direction: column;
  word-wrap: break-word;
}
.about .container .skills .skills-info {
  margin-top: 20px;
}
.about .container .skills .skills-chart {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.about .container .skills .skills-chart div p:last-child {
  width: 100%;
  background-color: rgb(151, 152, 207);
  height: 20px;
  margin-top: 10px;
}
.about .container .skills .skills-chart div.h p:last-child span {
  width: 85%;
  background-color: rgb(89, 91, 211);
  height: 20px;
  display: inline-block;
}
.about .container .skills .skills-chart div.c p:last-child span {
  width: 75%;
  background-color: rgb(89, 91, 211);
  height: 20px;
  display: inline-block;
}
.about .container .skills .skills-chart div.p p:last-child span {
  width: 50%;
  background-color: rgb(89, 91, 211);
  height: 20px;
  display: inline-block;
}
.about .container .skills .skills-chart div.j p:last-child span {
  width: 90%;
  background-color: rgb(89, 91, 211);
  height: 20px;
  display: inline-block;
}
.about .container .about-description {
  width: 50%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.about .container .about-description h2 {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 255, 0.507);
  text-decoration-thickness: 5px;
}
.about .container .about-description p {
  width: 90%;
  font-size: 19px;
  line-height: 1.4;
  color: #555;
}

.services {
  background-color: #fff;
  display: grid;
  place-items: center;
  padding: 30px;
}
.services .container {
  width: 80%;
}
.services .container .grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}
.services .container .grid .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  gap: 20px;
  text-align: center;
}
.services .container .grid .items .icon {
  font-size: 40px;
  width: 100px;
  color: rgb(0, 102, 255);
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.199);
  display: grid;
  place-items: center;
  height: 100px;
}
.services .container .grid .items .icon:hover {
  box-shadow: 0 0 30px rgba(0, 0, 255, 0.5);
  transition: 0.3s;
  cursor: pointer;
}
.services .container .grid .items p {
  color: #555;
  line-height: 1.5;
}
.services .container .grid .items h3 {
  font-size: 25px;
}
.status {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  color: white;
  display: grid;
  place-items: center;
  min-height: 400px;
  position: relative;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/1181376/pexels-photo-1181376.jpeg?auto=compress&cs=tinysrgb&w=600");
}
.status::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}
.status .container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.status .container .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.status .container .item .icon {
  font-size: 30px;
  background-color: white;
  width: 100px;
  color: black;
  height: 100px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px white;
  border-radius: 100%;
}
.status .container .item p:nth-child(2) {
  font-size: 25px;
}
.status .container .item p:last-child {
  font-size: 20px;
}
.portfolio {
  background-color: #eee;
  display: grid;
  place-items: center;
  padding: 30px;
}
.portfolio .container {
  width: 80%;
  margin: 0 auto;
}
.portfolio .container .grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  place-items: center;
}
.portfolio .container .grid .item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 450px;
}
.portfolio .container .grid .item .img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
.portfolio .container .grid .item .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.portfolio .container .grid .item .description .date {
  line-height: 1.9;
  color: #555;
}
.portfolio .container .grid .item .description .date h5 {
  font-size: 20px;
}
.portfolio .container .grid .item .description .date p span {
  color: rgba(0, 0, 255, 0.37);
  font-size: 14px;
}
.portfolio .container .grid .item .description .add {
  border: 4px solid rgba(0, 0, 255, 0.425);
  padding: 15px;
  cursor: pointer;
  border-radius: 100%;
  color: rgba(0, 0, 255, 0.425);
  width: 50px;
  height: 50px;
}
.portfolio .container .grid .item .description .add:hover {
  color: blue;
  border: 4px solid blue;
  transition: 0.3s;
}
.portfolio .container .grid .item .i-1 {
  background-image: url("https://images.unsplash.com/photo-1521185496955-15097b20c5fe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1taW5nfGVufDB8fDB8fHww");
}
.portfolio .container .grid .item .i-2 {
  background-image: url("https://plus.unsplash.com/premium_photo-1682130142808-dc6485665ebf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHByb2dyYW1taW5nfGVufDB8fDB8fHww");
}
.portfolio .container .grid .item .i-3 {
  background-image: url("https://images.unsplash.com/photo-1516690962695-bd573a42a487?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHN0dWZmfGVufDB8fDB8fHww");
}
.portfolio .container .grid .item .i-4 {
  background-image: url("https://images.unsplash.com/photo-1603969409447-ba86143a03f6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGN8ZW58MHx8MHx8fDA%3D");
}
.portfolio .container .grid .item .i-5 {
  background-image: url("https://images.unsplash.com/photo-1635514569146-9a9607ecf303?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGN8ZW58MHx8MHx8fDA%3D");
}
.portfolio .container .grid .item .i-6 {
  background-image: url("https://images.unsplash.com/photo-1560088032-d21fe602f4bc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhpbmdzfGVufDB8fDB8fHww");
}
@media screen and (max-width: 778px) {
  header .navbar nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .navbar {
    position: absolute;
  }
  header .navbar nav ul {
    flex-direction: column;
    width: 100%;
    display: none;
  }
  header .navbar nav ul li {
    margin-top: 10px;
    background-color: #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.151);
    padding: 10px;
    font-weight: bold;
  }
  .burger {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
  }

  .home .container h1 {
    font-size: 2em;
  }
  .about {
    padding: 10px;
  }
  .about .container {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .about .container .skills,
  .about .container .about-description {
    width: 100%;
    padding: 10px;
  }
  .about .container .skills .info {
    font-size: 14px;
  }
  .about .container .about-description p {
    width: 100%;
    font-size: 16px;
  }
  .services .container {
    width: 100% !important;
  }
  .services .container .grid {
    padding: 5px !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .status .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .portfolio .container {
    width: 100%;
  }
  .portfolio .container .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 779px) and (max-width: 1300px) {
  .about {
    padding: 20px;
  }
  .about .container {
    min-width: 700px;
    width: 70%;
    padding: 20px;
    flex-direction: column;
  }
  .about .container .skills,
  .about .container .about-description {
    width: 100%;
  }
  .about .container .about-description p {
    width: 80%;
  }
  .services .container {
    width: 90% !important;
  }
  .services .container .grid {
    padding: 10px !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .status .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .portfolio .container {
    width: 90%;
  }
  .portfolio .container .grid {
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .container .grid .item {
    max-width: 400px;
  }
}
